.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  background-color: #94aa9e;
  color: white;
}

a {
  text-decoration: none;
}

.main-navigation a {
  color: white;
}

.main-navigation {
  line-height: 18px;
  font-weight: 700;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a:hover {
  background-color: #f7f6f3;
  color: #333333;
}

.site-navigation a:active {
  background-color: #ededed;
  color: #333333;
}

.catalog,
.search,
.auth,
.cart-items,
.feedback {
  background-color: #f8f7f4;
  color: #323232;
}

.catalog {
  list-style: none;
}

.catalog a {
  display: block;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.catalog a:hover {
  background-color: #f7dbd4;
}

.catalog a:active {
  background-color: #f6b5a5;
}

.current-page > a {
  background-color: #d47c66;
  color: white;
}

.catalog-item-popular a {
  font-weight: 700;
}


.actions-navigation a {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.actions-navigation a:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.contacts p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.contacts .phone {
  font-size: 22px;
  line-height: 24px;
}


.auth a {
  text-decoration: underline;
}


.button-primary {
  background-color: #ec593c;
  background-image: linear-gradient(0deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  color: white;
}


.actions-slider {
  list-style: none;
}

.actions-slide {
  text-align: center;
}

.actions-slide h3 {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
}

.actions-slide .button-primary {
  font-size: 32px;
  line-height: 44px;
}

.actions-slider-controls {
  list-style: none;
}

.actions-slider-control {
  display: inline-block;
}


.promo-list {
  list-style: none;
}

.promo-item h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promo-item p {
  font-size: 18px;
  line-height: 22px;
}

.promo-item .button-primary {
  font-size: 18px;
  line-height: 24px;
}

.promo-item-raspberry {
  background-image: url("../img/bg-raspberry.jpg");
  background-color: #5c0f1f;
  background-repeat: no-repeat;
}

.promo-item-chocolate {
  background-image: url("../img/bg-chocolate.jpg");
  background-color: #442a1e;
  background-repeat: no-repeat;
}
